<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VeryImportantCompanySecurity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <applicationSettings>
        <VeryImportantCompanySecurity.Properties.Settings>
            <setting name="VeryImportantCompanySecurity_DoorServiceReference_DoorService"
                serializeAs="String">
                <value>http://localhost:8080/DoorService</value>
            </setting>
            <setting name="VeryImportantCompanySecurity_FloorServiceReference_FloorService"
                serializeAs="String">
                <value>http://localhost:8181/FloorService</value>
            </setting>
            <setting name="VeryImportantCompanySecurity_WindowServiceReference_WindowService"
                serializeAs="String">
                <value>http://localhost:8282/WindowService</value>
            </setting>
        </VeryImportantCompanySecurity.Properties.Settings>
    </applicationSettings>
</configuration>